<ion-header>
  <ion-toolbar>
    <ion-title>Ciklus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas #chart width="600" height="200"></canvas>

  <ion-row style="height: 10%"></ion-row>

  <ion-list>
    <ion-item>
      <ion-label>
        Ma: augusztus 14.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Következő menstruáció: augusztus 20.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Következő termékenységi ablak: szeptember 1-4.
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
