<ion-header>
  <ion-toolbar>
    <ion-title>Ciklus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="height: 10%"></ion-row>

  <ion-list>
    <ion-item>
      <ion-label>
        Ma: {{ today }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Következő menstruáció: {{ nextCycleStarts }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Következő termékenységi ablak: {{ fertileWindowFirstDate }} - {{ fertileWindowLastDate }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Utolsó vérzés első napja: {{ lastPeriodsFirstBleedingDay }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Átlagos ciklushossz: {{ averageCycleLength | number:'1.0-0' }} nap 
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
