<ion-header>
  <ion-toolbar>
    <ion-title>Bejelentkezés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center">
  <ion-item>
    <ion-label position="floating">E-mail cím</ion-label>
    <ion-input type="email" [formControl]="email"></ion-input>
    <ion-note slot="error">Kötelező mező.</ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Jelszó</ion-label>
    <ion-input type="password" [formControl]="password"></ion-input>
    <ion-note slot="error">Kötelező mező.</ion-note>
  </ion-item>
  <div class="ion-text-center">
    <ion-button (click)="logIn()">Bejelentkezés</ion-button>
    <ion-button routerLink="/signup">Regisztráció</ion-button>
  </div>
</ion-content>
