<ion-content>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Mégse</ion-button>
    </ion-buttons>
    <ion-title>Tünet hozzáadása</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Mentés</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
      <mat-calendar 
        firstdayofweek="1" 
        [dateClass]="dateClass"
        [(selected)]="selectedDate"
        (selectedChange)="onSelectedDateChange($event)"
        [headerComponent]="exampleHeader"
        [maxDate]="today"
        #matCalendar>
        <!-- <mat-calendar-header
        (click)="onStateChange($event)"
        (nextClicked)="onStateChange($event)"
        (previousClicked)="onStateChange($event)"
        (currentPeriodClicked)="onStateChange($event)" #calHead>
        </mat-calendar-header> -->
      </mat-calendar>
    <!-- </div> -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dátum: {{ selectedDate.toISODate() }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button *ngIf="dateHasLog" expand="block" fill="outline" color="danger" (click)="delete()">
          Bejegyzés törlése
          <ion-icon slot="end" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-item>
          <ion-label>
            Vérzés:
            <ion-segment (ionChange)="bloodSegmentChanged($event)" [value]="bloodValue">
              <ion-segment-button value="nothing">
                <ion-label>Nincs</ion-label>
              </ion-segment-button>
              <ion-segment-button value="light">
                <ion-label>Gyenge</ion-label>
              </ion-segment-button>
              <ion-segment-button value="medium">
                <ion-label>Közepes</ion-label>
              </ion-segment-button>
              <ion-segment-button value="heavy">
                <ion-label>Erős</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Méhnyaknyák:
            <ion-segment (ionChange)="mucusSegmentChanged($event)" scrollable="true" [value]="mucusValue">
              <ion-segment-button value="dry">
                <ion-label>Száraz</ion-label>
              </ion-segment-button>
              <ion-segment-button value="wet">
                <ion-label>Nyirkos</ion-label>
              </ion-segment-button>
              <ion-segment-button value="slimy">
                <ion-label>Ragacsos</ion-label>
              </ion-segment-button>
              <ion-segment-button value="transparent">
                <ion-label>Átlátszó</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Kedv
            <ion-list>
              <ion-item *ngFor="let mood of moods">
                <ion-label>{{mood.val}}</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="mood.isChecked"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Hőmérséklet</ion-label>
          <ion-input placeholder="0.00" type="number" min="35" max="40" step="0.01" [(ngModel)]="temperature"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>   
  </ion-grid>
</ion-content>
