<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add symptoms</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <app-calendar-component (symptomId)="onSymptomIdChange($event)" (date)="onDateChange($event)"></app-calendar-component>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Date: {{ dateToShow }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button *ngIf="dateHasLog" expand="block" fill="outline" color="danger" (click)="delete()">
          Delete log
          <ion-icon slot="end" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-item *ngIf="settings?.symptoms.blood">
          <ion-label>
            <ion-icon name="water"></ion-icon>
            Bleeding:
            <ion-segment (ionChange)="bloodSegmentChanged($event)" [value]="bloodValue">
              <ion-segment-button value="nothing">
                <ion-label>None</ion-label>
              </ion-segment-button>
              <ion-segment-button value="light">
                <ion-label>Light</ion-label>
              </ion-segment-button>
              <ion-segment-button value="medium">
                <ion-label>Medium</ion-label>
              </ion-segment-button>
              <ion-segment-button value="heavy">
                <ion-label>Heavy</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="settings?.symptoms.cervicalMucus">
          <ion-label>
            <ion-icon name="water-outline"></ion-icon>
            Cervical mucus:
            <ion-segment (ionChange)="mucusSegmentChanged($event)" scrollable="true" [value]="mucusValue">
              <ion-segment-button value="dry">
                <ion-label>Dry</ion-label>
              </ion-segment-button>
              <ion-segment-button value="wet">
                <ion-label>Damp</ion-label>
              </ion-segment-button>
              <ion-segment-button value="slimy">
                <ion-label>Sticky</ion-label>
              </ion-segment-button>
              <ion-segment-button value="transparent">
                <ion-label>Transparent</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="settings?.symptoms.mood">
          <ion-label>
            <ion-icon name="happy-outline"></ion-icon>
            Mood
            <ion-list>
              <ion-item *ngFor="let mood of moods">
                <ion-label>{{mood.val}}</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="mood.isChecked"></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="settings?.symptoms.temperature">
          <ion-icon name="thermometer-outline"></ion-icon>
          <ion-label>Temperature</ion-label>
          <ion-input placeholder="0.00" type="number" maxlength="5" max="100"step="0.01" [(ngModel)]="temperature"></ion-input><span> °C</span>
        </ion-item>
        <ion-item *ngIf="settings?.symptoms.pain">
          <ion-label>
            <ion-icon name="flash-outline"></ion-icon>
            Pain:
            <ion-segment (ionChange)="painSegmentChanged($event)" [value]="painValue">
              <ion-segment-button value="nothing">
                <ion-label>None</ion-label>
              </ion-segment-button>
              <ion-segment-button value="light">
                <ion-label>Weak</ion-label>
              </ion-segment-button>
              <ion-segment-button value="medium">
                <ion-label>Medium</ion-label>
              </ion-segment-button>
              <ion-segment-button value="heavy">
                <ion-label>Strong</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="settings?.symptoms.sexualActivity">
          <ion-label position="stacked">
            <ion-icon name="heart-outline"></ion-icon>
            Sexual activity
          </ion-label>
          <ion-input type="text" maxlength="40" [(ngModel)]="sexualActivity"></ion-input>
        </ion-item>
        <ion-item *ngIf="settings?.symptoms.contraceptionUsage">
          <ion-label position="stacked">
            <ion-icon name="heart-circle-outline"></ion-icon>
            Contraception
          </ion-label>
          <ion-input type="text" maxlength="40" [(ngModel)]="contraceptionUsage"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>   
  </ion-grid>
</ion-content>
