button.red{
    background: var(--ion-color-secondary);
    border-radius: 100%;
  }
  
  button.blue{
    background: var(--ion-color-primary);
    border-radius: 100%;
  }
  
  button.symptom-log{
    // outline-color: var(--ion-color-medium);
    // outline-width: 3px;
    // outline-style: solid;
    // outline-offset: -3px;
    // border-radius: 100%;
    .mat-calendar-body-cell-content{
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--ion-color-medium);
      border-radius: 100%;
    }
    .mat-calendar-body-selected{
      background-color: var(--ion-color-light-shade);
      color: black;
    }
  }
  
  button.red-symptom-log{
    .mat-calendar-body-cell-content{
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--ion-color-medium);
      background: var(--ion-color-secondary);
      border-radius: 100%;
    }
    .mat-calendar-body-selected{
      background-color: var(--ion-color-secondary-shade);
    }
  }
  
  button.blue-symptom-log{
    .mat-calendar-body-cell-content{
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--ion-color-medium);
      background: var(--ion-color-primary);
      border-radius: 100%;
    }
    .mat-calendar-body-selected{
      background-color: var(--ion-color-primary-shade);
    }
  }
  
  button[mat-icon-button]{
    background-color: transparent;
  }
  
  .mat-calendar-body-selected{
    background-color: var(--ion-color-success-shade);
  }
  