<ion-header>
  <ion-toolbar>
    <ion-title>Beállítások</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Tünet hozzáadása</ion-label>
    </ion-list-header>
    <ion-item href="#">
      <ion-label>Vérzés erőssége</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Hőmérséklet</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Méhnyaknyák állaga</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Kedv</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Fájdalom</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Szexuális tevékenység</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Emésztés</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Módok</ion-label>
    </ion-list-header>
    <ion-item href="#">
      <ion-label>Ciklus követés</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Terhes</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Menopauza</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Továbbiak</ion-label>
    </ion-list-header>
    <ion-item href="#">
      <ion-label>Adatok exportálása</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Értesítések</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
