<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-list-header class="ion-padding-vertical">
      <ion-label>Select the symptoms you want to show/add in the calendar</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="water"></ion-icon>
        Strength of bleeding
      </ion-label>
      <ion-toggle color="success" slot="end" [checked]="blood" (ionChange)="bloodChanged($event)"></ion-toggle>
    </ion-item>
    <ion-item >
      <ion-label>
        <ion-icon name="thermometer-outline"></ion-icon>
        Temperature
      </ion-label>
      <ion-toggle color="success" slot="end" [checked]="temperature" (ionChange)="temperatureChanged($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="water-outline"></ion-icon>
        Consistency of cervical mucus
      </ion-label>
      <ion-toggle color="success" slot="end" [checked]="cervicalMucus" (ionChange)="mucusChanged($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="happy-outline"></ion-icon>
        Mood
      </ion-label>
      <ion-toggle color="success" slot="end" [checked]="mood" (ionChange)="moodChanged($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="flash-outline"></ion-icon>
        Pain
      </ion-label>
      <ion-toggle color="success" slot="end" [checked]="pain" (ionChange)="painChanged($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="heart-outline"></ion-icon>
        Sexual activity
      </ion-label>
      <ion-toggle color="success" slot="end" [checked]="sexualActivity" (ionChange)="sexualActivityChanged($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="heart-circle-outline"></ion-icon>
        Contraception
      </ion-label>
      <ion-toggle color="success" slot="end" [checked]="contraceptionUsage" (ionChange)="contraceptionUsageChanged($event)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-margin-bottom">
  <ion-button class="ion-margin ion-margin-bottom" expand="block" fill="outline" color="danger" (click)="logOut()">
    Log out
    <ion-icon name="log-out-outline" slot="end"></ion-icon>
  </ion-button>
</ion-footer>
