<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" maxlength="50"></ion-input>
      <ion-note slot="error">The name must be at the least 1 character long</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail address</ion-label>
      <ion-input  type="email" formControlName="email" maxlength="40"></ion-input>
      <ion-note slot="error">Invalid e-mail address</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" minlength="6" maxlength="40"></ion-input>
      <ion-note slot="error">The password must be at least 6 characters long</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password again</ion-label>
      <ion-input required="true" type="password" formControlName="rePassword" maxlength="40"></ion-input>
    </ion-item>
    <div class="ion-text-center">
      <ion-button type="submit">Sign up</ion-button>
      <ion-button routerLink="/login">Sign in</ion-button>
    </div>
  </form>
</ion-content>
