<ion-header>
  <ion-toolbar>
    <ion-title>Naptár</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <app-calendar-component [maximumDate]="maximumDate" (symptomId)="onSymptomIdChange($event)" (date)="onDateChange($event)"></app-calendar-component>
    <ion-card>
      <ion-card-header>

        <ion-card-title>Dátum: {{ dateToShow }}</ion-card-title>
      </ion-card-header>
      <div *ngIf="!dateHasLog">
        <ion-card-content>
          Nincs megjeleníthető adat
        </ion-card-content>
      </div>
      <div *ngIf="dateHasLog">
        <ion-card-content>
          <div>          
            <ion-item *ngIf="this.selectedSymptoms.blood && this.settings?.symptoms.blood">
              <ion-label>
                <ion-icon name="water"></ion-icon>
                Vérzés: {{ bloodTranslate(selectedSymptoms.blood) }}
              </ion-label>
            </ion-item>
          </div>
          <div>          
            <ion-item *ngIf="this.selectedSymptoms.cervicalMucus && this.settings?.symptoms.cervicalMucus">
              <ion-label>
                <ion-icon name="water-outline"></ion-icon>
                Méhnyaknyák: {{ mucusTranslate(selectedSymptoms.cervicalMucus) }}
              </ion-label>
            </ion-item>
          </div>
          <div>          
            <ion-item *ngIf="this.selectedSymptoms.mood && this.selectedSymptoms.mood.length > 0 && this.settings?.symptoms.mood">
              <ion-label class="ion-text-wrap">
                <ion-icon name="happy-outline"></ion-icon>
                Kedv: {{ moodTranslate(selectedSymptoms.mood) }}
              </ion-label>
            </ion-item>
          </div>
          <div>          
            <ion-item *ngIf="this.selectedSymptoms.temperature && this.settings?.symptoms.temperature">
              <ion-label class="ion-text-wrap">
                <ion-icon name="thermometer-outline"></ion-icon>
                Hőmérséklet: {{ selectedSymptoms.temperature }} °C
              </ion-label>
            </ion-item>
          </div>
          <div>          
            <ion-item *ngIf="this.selectedSymptoms.pain && this.settings?.symptoms.pain">
              <ion-label>
                <ion-icon name="flash-outline"></ion-icon>
                Fájdalom: {{ bloodTranslate(selectedSymptoms.pain) }}
              </ion-label>
            </ion-item>
          </div>
          <div>          
            <ion-item *ngIf="this.selectedSymptoms.sexualActivity && this.settings?.symptoms.sexualActivity">
              <ion-label>
                <ion-icon name="heart-outline"></ion-icon>
                Szexuális tevékenység: {{ selectedSymptoms.sexualActivity }}
              </ion-label>
            </ion-item>
          </div>
          <div>          
            <ion-item *ngIf="this.selectedSymptoms.contraceptionUsage && this.settings?.symptoms.contraceptionUsage">
              <ion-label>
                <ion-icon name="heart-circle-outline"></ion-icon>
                Fogamzásgátlás: {{ selectedSymptoms.contraceptionUsage }}
              </ion-label>
            </ion-item>
          </div>
        </ion-card-content>
      </div>
    </ion-card>
</ion-content>
